name: Deploy to Synology NAS

on:
  push:
    branches: [ main ]  # main 브랜치에 푸시하면 실행

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.NAS_HOST }}
          username: ${{ secrets.NAS_USER }}
          password: ${{ secrets.NAS_PWD }}
          port: ${{ secrets.NAS_PORT }}
          script: |
                      cd /volume1/docker/side_pj_fe/side_pj_fe
                      git fetch origin main
                      git reset --hard origin/main
                      
                      echo "${{ secrets.NAS_PWD }}" | sudo -S /usr/local/bin/docker-compose up -d --build