name: Deploy to Synology NAS

on:
  push:
    branches: [ main ]  # main 브랜치에 푸시하면 실행

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: executing remote ssh commands using password
        uses: appleboy/ssh-action@master
        with:
          host: ${{ secrets.NAS_HOST }}
          username: ${{ secrets.NAS_USER }}
          password: ${{ secrets.NAS_PWD }}
          port: ${{ secrets.NAS_PORT }}
          script: |
                      cd /volume1/docker/side_pj_fe/side_pj_fe
                      git pull origin main
                      # 비밀번호를 sudo에게 전달하는 방식 (-S 옵션 사용)
                      echo "${{ secrets.NAS_PWD }}" | sudo -S docker compose up -d --build